@model HR.Models.MultiTable

@{
    ViewData["Title"] = "Interview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<h4>InterviewCv </h4>
<hr />
<div class="row">
    <div class="col">

        <form asp-action="Interview">
            <div class="row">
                <div class="col-xl-6">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="PersonCvid" class="control-label"></label>
                        <select asp-for="PersonCvid" class="form-control" asp-items="ViewBag.PersonCvid"></select>
                        <span asp-validation-for="PersonCvid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="InterviewDate" class="control-label"></label>
                        <input asp-for="InterviewDate" class="form-control" />
                        <span asp-validation-for="InterviewDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FunctionApply" class="control-label"></label>
                        <input asp-for="FunctionApply" class="form-control" />
                        <span asp-validation-for="FunctionApply" class="text-danger"></span>


                        @*<label asp-for="FunctionApply" class="control-label"></label>
                            <select asp-for="FunctionApply" class="form-control" asp-items="ViewBag.FunctionApply"></select>
                            <span asp-validation-for="FunctionApply" class="text-danger"></span>*@


                    </div>
                    <div class="form-group">
                        <label asp-for="DepartamentApply" class="control-label"></label>
                        <input asp-for="DepartamentApply" class="form-control" />
                        <span asp-validation-for="DepartamentApply" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeId" class="control-label"></label>
                        <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OffertStatus" class="control-label"></label>
                        <select asp-for="OffertStatus" class="form-control" asp-items="ViewBag.OffertStatus"></select>

                        <span asp-validation-for="OffertStatus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-xl-6">

                    <div class="form-group">
                        <label asp-for="TestResult" class="control-label"></label>
                        <input asp-for="TestResult" class="form-control" />
                        <span asp-validation-for="TestResult" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="Accepted" class="control-label"></label>
                        <select asp-for="Accepted" class="form-control" asp-items="ViewBag.Accepted"></select>

                        <span asp-validation-for="Accepted" class="text-danger"></span>
                    </div>

                    @*<div class="form-group">

                            <label asp-for="RefusedReason" class="control-label"></label>
                            <select asp-for="RefusedReason" class="form-control" asp-items="ViewBag.RefusedReason"></select>

                            <span asp-validation-for="RefusedReason" class="text-danger"></span>
                        </div>*@

                    <div class="form-group">
                        <label asp-for="Comments" class="control-label"></label>
                        <input asp-for="Comments" class="form-control" />
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="DateAnswer" class="control-label"></label>
                        <input asp-for="DateAnswer" class="form-control" />
                        <span asp-validation-for="DateAnswer" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EmploymentDate" class="control-label"></label>
                        <input asp-for="EmploymentDate" class="form-control" />
                        <span asp-validation-for="EmploymentDate" class="text-danger"></span>
                    </div>





                </div>






            </div>
        </form>
    </div>
</div>

<input type="button" value="Back" onclick="location.href='@Url.Action("Index", "InterviewCvs")'" />
