@model HR.Models.PersonCv

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>PersonCv</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateApply" class="control-label"></label>
                        <input asp-for="DateApply" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                        <span asp-validation-for="DateApply" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FunctionApply" class="control-label"></label>
                        <select asp-for="FunctionApply" class="form-control" asp-items="ViewBag.FunctionApply"></select>
                        <span asp-validation-for="FunctionApply" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="FunctionMatch" class="control-label"></label>
                        <select asp-for="FunctionMatch" class="form-control" asp-items="ViewBag.FunctionMatch"></select>
                        <span asp-validation-for="FunctionMatch" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group">
                        <label asp-for="Observation" class="control-label"></label>
                        <input asp-for="Observation" class="form-control" />
                        <span asp-validation-for="Observation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>

                        <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label asp-for="ModeApply" class="control-label"></label>
                        <select asp-for="ModeApply" class="form-control" asp-items="ViewBag.ModeApply"></select>

                        <span asp-validation-for="ModeApply" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CountyAddress" class="control-label"></label>
                        <input asp-for="CountyAddress" class="form-control" />
                        <span asp-validation-for="CountyAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CityAddress" class="control-label"></label>
                        <input asp-for="CityAddress" class="form-control" />
                        <span asp-validation-for="CityAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label"></label>
                        <input asp-for="BirthDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Studies" class="control-label"></label>
                        <input asp-for="Studies" class="form-control" />
                        <span asp-validation-for="Studies" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Experience" class="control-label"></label>
                        <input asp-for="Experience" class="form-control" />
                        <span asp-validation-for="Experience" class="text-danger"></span>
                    </div>
                </div>
                   
                
            </div>
        </form>
    </div>
</div>




<!--adaugare edit-->

<div>
</div>
<!-- Grid Detail-->
<div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">Documente</button>
</div>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


        <div>
            @(Html.DevExtreme().FileUploader()
                          .Name("smallFile")
                          .Accept(".pdf")
                          .Multiple(true)
                          //.MaxFileSize(4000000)
                          .UploadMode(FileUploadMode.UseButtons)
                          .UploadUrl(Url.Action("UploadSmallFile2", "PersonCvs"))
                          
        )
        </div>


    </div>

</div>


<input type="button" value="Back" onclick="location.href='@Url.Action("Index", "PersonCvs")'" />





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
