@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <input type="button" value="CVs" onclick="location.href='@Url.Action("Index", "PersonCvs")'" />

    
    <input type="button" value="Interviews" onclick="location.href='@Url.Action("Index", "InterviewCvs")'" />





</div>
