@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Welcome To HR application!</h1>
</div>

<div class="text-center">

    <img src="https://edsurge.imgix.net/uploads/post/image/12540/shutterstock_583636588-1566521038.jpg?auto=compress%2Cformat&w=1024&h=512&fit=crop"  width="350" height="250">
    
</div>


<div class="text-center">

    <p></p>

    <input class="btn btn-success text-white" type="button" value="CVs" onclick="location.href='@Url.Action("Index", "PersonCvs")'" />
    &nbsp;

    <input class="btn btn-success text-white" type="button" value="Interviews" onclick="location.href='@Url.Action("Index", "InterviewCvs")'" />

   
    <div class="text-center">
        <p></p>
    </div>
    <div class="text-center">
        <input class="btn btn-info text-white" type="button" value="Departments" onclick="location.href='@Url.Action("Index", "Departments")'" />
    </div>

    

</div>
