@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head> 
<body>
    <div class="jumbotron title_container">
        <h1>Welcome To HR Management App!</h1>
    </div>

    <div class="picture_container">
        <img src="~/css/devextreme/icons/2-hands.jpg" alt="Welcome Image">
    </div>

    <div class="text-center">
        <input class="btn btn-success text-white" type="button" value="CVs" onclick="location.href='@Url.Action("Index", "Candidates")'" />
        <input class="btn btn-success text-white" type="button" value="Interviews" onclick="location.href='@Url.Action("Index", "Interviews")'" />
    </div>

    <div class="text-center">
        <input class="btn btn-info text-white" type="button" value="Departments" onclick="location.href='@Url.Action("Index", "Departments")'" />
    </div>
</body>
</html>
