@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br /><br />

<p>Welcome to OUR DOMAIN, the website and online service of OUR ORGANIZATION . We respect the privacy of 
    our users and we are committed to protecting it through our compliance with this privacy policy (“Privacy Policy”), 
    which describes the types of information we may collect from you or that you may provide when you use 
    our website , or our services  and our practices for collecting, using, 
    maintaining, protecting and disclosing that information. This Privacy Policy applies to the data collected by us, or those 
    working on our behalf, through information you enter or from the imported data from authorized and approved sources.
    It does not apply to data collected through offline means, or from other sites, products, or services not approved by us.</p>

<p>By using or accessing our Website or the Services in any manner, you acknowledge that you accept the practices and policies described
    in this Privacy Policy, and you hereby consent that we may collect, use, and share your information as described herein. If you do not agree
    with our policies and practices, your choice is not to use our Website or our Services.</p>


